# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environments
venv/
venv311/
backend/venv/
.cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ML artifacts (future)
*.pt
*.pth
*.onnx
backend/app/ml/image/models/*.pth
*.pth
models/
